.product-quantity {
  display: flex;
  position: relative;
}

.product-quantity__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.product-quantity__buttons .btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 18px;
}

.product-quantity__buttons .btn-disabled {
  cursor: initial;
}
.product-quantity__buttons .btn-disabled:focus {
  outline: none;
}

.product-quantity__buttons .btn-disabled svg path {
  fill: rgb(189, 189, 189);
  stroke: rgb(189, 189, 189);
}

.product-quantity__buttons .btn:first-child {
  margin-right: 1rem;
}

.product-quantity__error {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: red;
}

@media only screen and (max-width: 767px) {
  .product-quantity__buttons {
    margin-left: 1rem;
  }
  .product-quantity__buttons .btn:first-child {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 565px) {
  .product-quantity {
    margin-left: 0.5rem;
  }
  .product-quantity p {
    max-width: 150px;
  }
  .product-quantity__buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
  }
  .product-quantity__buttons .btn:first-child {
    margin-right: 0;
  }
  .product-quantity__buttons .btn {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 420px) {
  .product-quantity p {
    max-width: 100px;
  }
}
