.container {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 2rem;
}

.cart-list {
  padding-left: 0;
  font-size: 18px;
}

.cart-list__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid silver;
  list-style: none;
}

.total {
  margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
  .cart-list {
    font-size: 16px;
  }
  .cart-list__row__product-desc {
    max-width: 200px;
  }
}

@media only screen and (max-width: 565px) {
  .cart-list {
    font-size: 14px;
  }
  .cart-list__row__product-desc {
    max-width: 150px;
  }
  .container h1 {
    font-size: 1.8rem;
  }
  .container h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .cart-list__row__product-desc {
    max-width: 120px;
  }
}
